
.container{
    background-color: transparent;
    transition: all .3s;    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding-bottom: 50px;
    z-index: 10;
    transition: .4s all;
   
}
@keyframes change-bg {
    0%{
        background-color: transparent;
        box-shadow: none;

    }
    100%{
     
    }
}

.scrolled-header{
    /* animation: change-bg 0.3s ease-in forwards; */
    background-color:var(--bg-color);
    box-shadow: var(--shadow);
}
.nav-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  color: white;
  transition: all .3s;    


}

.list-of-items{
    display: flex;
    font-size: var(--span-font-size);
    column-gap: 50px;
    font-weight: bold;
    transition: all .3s;    
   
    
}
.list-of-items li {
    width: 130px;
     text-align: center;
  
}
.list-of-items li>a{
    display: inline;
    margin: 4px;
}

.book-trip{
    justify-self:flex-end ;
    transition: all .3s;    
    border: 2px solid var(--text-color);
}